---
layout: page
title: "About"
description: "Hi, I'm JackCao."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<!-- <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select> -->

<!-- Chinese Version -->

<div>
    <blockquote>
        短暂的一生会有许多坎坷和波折，我把它视作为前进的阶梯，去获得“学问之趣味”。
    </blockquote>
    <br>
    <hr>
    <blockquote>
        <p>Hi，我是曹顺卿，半瓶水工程师一个，在2015末接触到<code class="highlighter-rouge">iOS</code>开发(<code class="highlighter-rouge">Objective-C</code>,<code
                class="highlighter-rouge">Swift</code>)，从此进入了苦逼的互联网行业。<br><br>
            没有过大厂经历，在小厂角落中敲着代码，看着各位年薪百万的大佬瑟瑟发抖~<br><br>
            虽然不是大佬，那我也不能因为这个理由而不去探索<code class="highlighter-rouge">iOS</code>之外的领域，So，目前为止还做过<code class="highlighter-rouge">Android(Java)</code>、<code class="highlighter-rouge">macOS</code>桌面应用程序(<code
                class="highlighter-rouge">AppKit</code>)、服务器(<code class="highlighter-rouge">Nodejs</code>)、跨平台(<code
                class="highlighter-rouge">Weex</code>)。<br><br>
            做过的东西不多不少，对每个领域的学习程度也就是一知半解，还好勉强达到了学以致用的标准。<br><br>
            有时会接点私活、或者做做自己的<code class="highlighter-rouge">Application</code>(<a href="https://itunes.apple.com/cn/app/id1261715551">点我</a>)<br><br>
            了解的东西越多，越觉得自己懂的越少，以后还要再去深入学习一下，尽力做一个合格的工程师。
        </p>
    </blockquote>
</div>

<!-- English Version
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "Jackcaoblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Jackcao
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


